# Ignorar archivos de estado de Terraform
terraform.tfstate
terraform.tfstate.backup

# Ignorar archivos de bloqueo del proveedor
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Ignorar la carpeta donde Terraform almacena archivos descargados
.terraform/

# Ignorar el fichero de variables de ansible
tf_ansible_vars.yaml

# Ignorar el inventario de Ansible (es dinámico)
inventory.ini

# Ignorar el archivo con la contraseña de Ansible Vault
vault_pass.txt